.chat-body{
    display: flex;
    height: calc(100vh - 68px);
    box-shadow: 0px 22px 30px 0px rgb(28 26 58 / 20%);
    border-radius: 10px;
    position: fixed;
    right:30px;
    flex-direction: column;
    width:372px;
    justify-content: space-between;
}
.chat-box-header{
    background: linear-gradient(135deg, rgb(42, 39, 218) 0%, rgb(0, 204, 255) 100%);
    width: 100%;
    height: 100px;
}
.chat-box-content{
    background-color: #fff;
    height: 600px;
    width: 100%;
    overflow: scroll;
}
.chat-box-footer{
    background-color: #19ca9e;
    width: 100%;
    height: 73px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#text-box{
    width:100%;
    border:0px;
    font-size:17px;
    resize:none;
    line-height:24px;
    overflow-x:hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
#text-box:focus{
    border:0px;
    outline:0px
}
.input-group{
    padding-right:4px;
}
.conversation-group{
    padding-left:2em;
    padding-right:2em;
    padding-top: 1em;
}
.message-box{
    background:rgb(240, 242, 247);
    color: rgb(6, 19, 43);
}
.message{
    padding:10px 10px;
    margin:2px 0px;
    border-radius:10px
}
