input, textarea, select, button{
    font-family: Mulish, sans-serif;
    letter-spacing: -0.24px;
    -webkit-font-smoothing: antialiased;
    color: rgb(6, 19, 43);
}
.chat-body{
    display: flex;
    height: calc(100vh - 68px);
    min-height: 300px;
    box-shadow: 0px 22px 30px 0px rgb(28 26 58 / 20%);
    border-radius: 10px;
    position: fixed;
    right:30px;
    bottom: 30px;
    flex-direction: column;
    width:372px;
}
.chat-box-header{
    background: linear-gradient(135deg, rgb(42, 39, 218) 0%, rgb(0, 204, 255) 100%);
    width: 100%;
    height: 100px;
    flex: 0 0 auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.chat-box-content{
    background-color: #fff;
    flex: 1;
    width: 100%;
    overflow: auto;
}
.chat-box-footer{
    background-color: #19ca9e;
    width: 100%;
    height: 73px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    flex: 0 0 auto;
}
#text-box{
    border:0px;
    font-size:17px;
    resize:none;
    line-height:24px;
    overflow:hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 10px;
}
#text-box:focus{
    border:0px;
    outline:0px
}
.input-group{
    display: flex;
    padding:10px 28px 6px;
}
#submit-btn {
    color: white;
    flex-basis: auto;
    background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255));
    box-shadow: rgb(0 77 255 / 50%) 0px 4px 24px;
    border-radius:28px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}
.conversation-group{
    padding-left:2em;
    padding-right:2em;
    padding-top: 1em;
}
.message-box{
    background:rgb(240, 242, 247);
    color: rgb(6, 19, 43);
}
.message{
    padding:10px 10px;
    margin:2px 0px;
    border-radius:10px;
    overflow-wrap: break-word;
}
hr{
    margin: 0px;
    border-width: 0px 0px 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(219, 223, 230);
}